@font-face {
  font-family: MyFont;
  src: url("font/Graphik-Regular.otf") format('truetype');
}
/*béton brut and art brut*/

html {
  height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 30px;
  min-height: 100%;
  padding-bottom: 6rem;
  flex-direction: column;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

main {
  padding-bottom: 5px;
  min-height: 100%;
  flex: 1;
  max-width: 100%;
  display: block;
}

/*style definition*/
:root {
  --primary-color: #000000;
  --hover-color: rgb(0, 179, 255);
  --accent-color: #c1c1c1;
  --text-color: #000000;
  --background-color: #ffffff;
}


/*link styling*/

a:link, a:visited {
  color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

a:active {
    color: var(--text-color);
}

/********* Navigation Bar *********/
.navigation {
  font-family: 'MyFont';
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;}

ul.breadcrumb-menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0;
  margin: 0;
  padding: 0;  
}

ul.breadcrumb-menu li {
  margin-right: 5px;
}

ul.breadcrumb-menu li+li:before {
  padding: 2px;
  color: var(--text-color);
  content: "/\00a0";
}

ul.breadcrumb-menu li a {
  text-decoration: none; 
}


ul.breadcrumb-menu li:first-child {
  width: auto; 
  border: 2px solid var(--primary-color);
  border-radius: 80px;
  justify-content: left;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  height: 40px;
}

ul.breadcrumb-menu li:first-child:hover{
  transform: scale(1.02);
  transition: transform 0.1s ease;
  border: 2.5px solid var(--primary-color);
  font-weight: bolder;
}

@media only screen and (max-width: 450px) {
  
  ul.breadcrumb-menu {
    list-style: none;
    display: block;
    width: 150px;
  }

  ul.breadcrumb-menu li:first-child {
    margin-bottom: 10px;
  }


}
/************* Homepage Word List *************/

.intro-text {
  font-family: 'MyFont';
  font-size: 22px;
}

.button-list {
  position: relative;
  margin-top: 20px;
  gap: 20px;
}

.home-button {
  font-family: myFont;
  text-decoration: none;
  font-size: 55px;
  padding: 0px 20px 0px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
}

.home-button:hover{
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
  font-weight: bolder;
}


#navigation-to-galleries {
  display: block;
  padding-top: 5px;
  position: absolute;
  max-width: 100%;
}


.words dt {
  font-family: 'MyFont';
  font-size: 2rem;
  margin-top: 20px;
  border-radius: 10px; 
}
.words dd { 
  font-family: 'MyFont';
  font-size: 22px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 3px;
}

@media only screen and (max-width: 600px) {
  /* for phones */
  .words dt {
    font-size: 11vw;
    max-width: 100%;
    }
}

/************* About Page *************/

#about-page {
  height: 100%;
}

.about-text {
  font-family: 'MyFont';
  font-size:6vh;
  text-align: justify;
  margin: auto 0;
  margin-top: 30px;
  word-break: break-all;
}

.palabras-julio {
  font-size: 20px;
  font-family: 'MyFont';
  word-break: break-all;
}

#subm-text {
  font-family: 'MyFont';
  font-size: 20vh;
  text-align: justify;
  margin: auto;
  word-break: break-all;
}

#subm-subtext {
  font-family: 'MyFont';
  font-size: 18pt;
  text-align: justify;
  margin: 5px;
  border: solid black 2px;
  word-break: break-word;
  overflow: wrap;
  bottom: 0px;
}

.footer-content {
  height: 12px;
  font-family: 'MyFont';
  font-size: 12pt;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
  /* for phones */
  .about-text {
    font-family: 'MyFont';
    font-size: 2.2rem;
    }
}

@media only screen and (max-width: 600px) {
  /* for phones */
    #submission-page {
  max-height: 100%;
  }
  #subm-text {
    font-family: 'MyFont';
    font-size: 5.8rem;
    }
}

/************* Wood Page *************/

.wood-text {
  font-family: 'MyFont';
  font-size: 20px;
  text-align: justify;
  margin: auto 0;
  margin-top: 12px;
  margin-bottom: 12px;
  word-break: break-all;
  color: var(--text-color)
}
/************* Horizontal Gallery Image *************/
.horizontal-gallery-img {
  border-radius: 100px;
  border: 2px solid var(--primary-color);
}

.horizontal-gallery-img:hover{
  transform: scale(4.5);
}

.horizontal-gallery {
  display: flex;
  flex-direction: row;
  height: 400px;
  max-width: 100%;
  overflow-x: scroll;
  gap: 20px;
  padding: 10px;
}

/************* Single Gallery Image *************/
.single-gallery-img {
  flex-shrink: 0;
  aspect-ratio: initial;
}


.single-gallery {
  display: flex;
  overflow-x: scroll;
  gap: 30px;
  height: 80vh;
}



/************* Footer *************/

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left:0;
  width: 100%;
  background-color: white;
  position: absolute;
  height: 2.5rem;
  margin-bottom: 5px;
  margin-right: 40px;
  font-family: 'MyFont';
  font-size: 12pt;
  text-align: right;

}
